<section class="flex my-6 mx-4">
  <%= image_tag @user.avatar.attached? ? @user.avatar : 'default_avatar.png' , class: 'rounded-full w-20 h-20 object-cover' %>
  <div class="flex flex-col ml-4 justify-evenly">
    <span><span class="font-bold">Username</span>: <%= @user.username %></span>
    <span><span class="font-bold">Email</span>: <%= @user.email %></span>
    <span class="flex items-end text-xs"><%= image_tag 'calendar.svg', class: 'h-5 w-5' %>Te uniste hace <%= I18n.with_locale(:es) { time_ago_in_words(@user.created_at) }  %></span>
  </div>
</section>
<!-- Link (with turbo-frame) to show the user's products -->
<div class="flex justify-center gap-2 mb-3">
  <%= link_to 'Editar perfil', profile_edit_path, class: 'inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
  <%= link_to 'Mis productos', products_path(user_id: @user), class: 'inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2', data: { turbo_frame: 'products'} %>
  <%= link_to 'Mis favoritos', products_path(favorite: true), class: 'inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2', data: { turbo_frame: 'products'} %>
</div>
<%= turbo_frame_tag 'products' %>
x
