<%= form_with model: product, class: 'formulario' do |form| %>
  <% product.errors.full_messages.each do |error|  %>
    <p class="error_message"><%= error %></p>
  <% end %>
  <div>
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1 flex rounded-md shadow-sm">
      <%= form.text_field :title, class: "block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
  </div>
  <div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1">
      <%= form.text_area :description, rows: 3, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
    <p class="mt-2 text-sm text-gray-500"><%= p('.text_area_description') %></p>
  </div>
  <div>
    <%= form.label :category_id, class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :category_id, Category.all.order(:name), :id, :name, class: "outline-gray" %>
  </div>
  <div>
    <%= form.label :price, class: "block text-sm font-medium text-gray-700" %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :images, class: "block text-sm font-medium text-gray-700"%>
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
    <%= form.submit submit_message, class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  </div>
<% end %>
