<%= turbo_frame_tag 'home' do %>
  <%= form_with url: products_path, method: :get, id: 'price_filter', class: "flex flex-col items-center gap-2 sticky top-0 bg-red-100 py-2" do |form| %>
    <div class="flex flex-col gap-2 w-11/12 justify-around" data-controller="search-options">
      <div class="flex items-center">
        <%= form.text_field :query_text, onChange: 'this.form.requestSubmit()', placeholder: t('.query_text'), value: params[:query_text], class: "ml-3 mr-3 rounded-lg w-full sticky top-2" %>
        <span><%= image_tag 'chevron-down.svg',data: { action: "click->search-options#toggle", search_options_target: "image" }, class: 'ml-2 mr-9 w-10 h-10 select-none cursor-pointer transition-all duration-200 ease-in' %></span>
      </div>
      <div class="flex flex-col gap-2 -translate-y-full hidden" data-search-options-target="searchMenu" >
        <div class="flex gap-2 ml-3 mr-3">
          <%= form.number_field :min_price, onChange: 'this.form.requestSubmit()', placeholder: t('.min_price'), value: params[:min_price], class: "rounded-lg w-1/3" %>
          <%= form.number_field :max_price, onChange: 'this.form.requestSubmit()', placeholder: t('.max_price'), value: params[:max_price], class: "rounded-lg w-1/3" %>
          <%= form.select :order_by, options_for_select(Product::ORDER_BY.keys.map { |order| [t(".#{order}"), order] }, selected = params[:order_by]), {}, { onChange: "this.form.requestSubmit()", class: " w-1/3 rounded-lg"} %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flex gap-2 overflow-x-auto snap-x text-2xl py-3 w-full 2xl:justify-center">
    <%= link_to t('.all'), products_path, class: "inline-flex items-center rounded-3xl border border-transparent bg-indigo-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 ml-4"  %>
    <%= render partial: 'category', collection: @categories %>
  </div>
  <%= turbo_frame_tag :products, class: "w-full flex mt-4 gap-2 flex-col items-center mb-4 sm:flex-row sm:flex-wrap sm:w-full mx-auto" do %>
    <%= turbo_frame_tag "products-#{@pagy.page}", class: 'w-full flex gap-2 flex-col items-center mb-4 sm:flex-row sm:flex-wrap sm:w-full mx-auto' do %>
      <%= render partial: 'product', collection: @products %>
      <%= turbo_frame_tag "products-#{@pagy.next}", class: 'w-full flex gap-2 flex-col items-center mb-4 sm:flex-row sm:flex-wrap sm:w-full mx-auto', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
    <% end %>
  <% end %>
<% end %>
