<%= DateTime.now %>
<%= turbo_frame_tag 'Products' do %>
  <h1><%= t('.title') %></h1>
  <%= form_with url: products_path, method: :get, id: 'price_filter',
      data: { controller: 'products', action: 'keypress->products#enterToSubmit' } do |form| %>
    <%= form.text_field :query_text, placeholder: t('.query_text'), value: params[:query_text] %>
    <%= form.number_field :min_price, placeholder: t('.min_price'), value: params[:min_price] %>
    <%= form.number_field :max_price, placeholder: t('.max_price'), value: params[:max_price] %>
  <% end %>
  <%= link_to t('.all'), products_path %>
  <%= render partial: 'category', collection: @categories %>
  <%= render partial: 'product', collection: @products %>
<% end %>
