<div data-controller="gallery" class="scroll-smooth">
  <%= link_to user_path(@product.user.username), class: "hover:text-red-600 text-xl" do %>
    <div class="flex justify-between mt-4 p-2 gap-4 border-t border-zinc-500 w-[98%] m-auto ">
      <div class="flex gap-2 items-center">
        <%= image_tag @product.user.avatar.attached? ? @product.user.avatar : 'default_avatar.png' , class: 'rounded-full w-14 h-14 object-cover border border-black' %>
        <div class="flex flex-col justify-between text-xs">
          <h2 class="text-lg"><%= @product.title %></h2>
          Hace <%= I18n.with_locale(:es) { time_ago_in_words(@product.created_at) }  %>
        </div>
      </div>
      <%= render partial: 'favorite', locals: { product: @product } %>
    </div>
  <% end %>
  <div class="lg:flex lg:flex-col lg:items-center lg:justify-center lg:w-[60rem] lg:m-auto">
    <div class="carrusel w-[98%] m-auto no-srollbar" >
      <div class="flex justify-start gap-4 m-auto w-[<%= @product.images.count %>00%] h-[23rem] sm:w-[33rem] sm:h-[33rem] overflow-x-scroll overflow-y-hidden snap-mandatory snap-x rounded no-scrollbar" data-gallery-target="imagesGallery" >
        <% @product.images.each_with_index do |image, index| %>
          <%= image_tag image, id: "image-#{index}" , data: {data_gallery_target: "images"},class: "min-w-full rounded-lg flex object-cover object-center snap-center" if @product.images.attached? %>
        <% end %>
      </div>
    </div>
    <ul class='scroll_btn flex gap-2 justify-center my-3'>
      <% @product.images.each_with_index do |image, index| %>
        <a href="#image-<%=index%>" class="w-[1em] h-[1em] border-orange-900 border-2 rounded-full" data-gallery-target="points" data-index="<%= index %>"></a>
      <% end %>
    </ul>
  </div>
  <div class="rounded-lg bg-slate-50 p-4 w-[98%] m-auto flex justify-between">
    <p class="text-lg"><%= @product.description %></p>
    <div class="flex flex-col items-end gap-2">
      <p class="inline h-fit p-4 bg-slate-200 rounded-xl text-slate-600 font-semibold text-3xl"><%= @product.price %><sup>€</sup></p>
    </div>
  </div>
  <div class="mb-12 mt-2 w-[98%] m-auto">
    <%= link_to t('.edit'), edit_product_path(@product), class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" if @product.owner? %>
    <%= link_to t('.delete'), product_path(@product), data: { turbo_method: :delete, turbo_confirm: t('common.delete_confirm')}, class: "inline-flex items-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" if @product.owner? %>
  </div>
</div>
