<h2 class="title"><%= @product.title %></h2>
<%# quitar los estilos en linea!!!!!!!!!! %>
<div style="display: flex; gap: 1rem">
  <% @product.images.each do |image| %>
    <%= image_tag image, style:  "width: 10rem; border-radius: 7.5px" if @product.images.attached? %>
  <% end %>
</div>
<p class="description"><%= @product.description %></p>
<p class="price"><%= @product.price %>€</p>
<%= link_to t('common.links.edit'), edit_product_path(@product) if @product.user == Current.user %>
<%= link_to t('common.links.delete'), product_path(@product), data: { 
    turbo_method: :delete,
    turbo_confirm: t('common.links.delete_confirm')} if @product.user == Current.user %>
