<!DOCTYPE html>
<html>
  <head>
    <title> <%= t('app_name') %> | <%= t('meta_description') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body class="bg-red-100">
    <%= render 'shared/header' %>
    <%= render 'shared/flash' if notice or alert %>
    <div class="lg:container xl:container 2xl:container lg:mx-auto 2xl:mx-auto xl:mx-auto">
      <%= yield %>
    </div>
    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
